input[type="color"][list] + menu[hidden] {
  visibility: hidden;
}

input[type="color"][list] + menu {
  box-sizing: content-box;
  list-style-type: none;
  position: absolute;
  /* max-inline-size: calc(8 * 1.75rem - 0.25rem); */
  max-inline-size: 13.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0;
  padding: 0.25rem;
  border: 0.0625rem solid grey;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 0.25rem 0.5rem #0008;
}

input[type="color"][list] + menu > li {
  position: relative;
  box-sizing: border-box;
  block-size: 1.5rem;
  inline-size: 1.5rem;
  border: 0.0625rem solid grey;
  border-radius: 0.125rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
}

input[type="color"][list] + menu > li:nth-last-child(n + 3) {
  /* https://stackoverflow.com/a/65887831 */
  --checker-color-1: #fff;
  --checker-color-2: #ccc;
  --checker-size: 0.25rem;
  --checker-gradient: linear-gradient(45deg, var(--checker-color-1) 25%, transparent 25%, transparent 75%, var(--checker-color-1) 75%);
  background-color: var(--checker-color-2);
  background-image: var(--checker-gradient), var(--checker-gradient);
  background-position: 0 0, var(--checker-size) var(--checker-size);
  background-size: calc(var(--checker-size) * 2) calc(var(--checker-size) * 2);
}

input[type="color"][list] + menu > li:nth-last-child(n + 3)::before {
  content: '';
  position: absolute;
  background-color: currentColor;
  inset: 0;
}

input[type="color"][list] + menu > li:nth-last-child(1) {
  margin-inline-start: auto;
}
